{#
/**
 * @file
 * USWDS theme implementation to display a single page.
 */
#}
<header class="{{ header_classes }}" id="header" role="banner">

  {% if page.header_top or government_banner %}
  <section class="usa-banner">

    {{ government_banner }}

    {% if page.header_top %}
    <div class="usa-banner-inner">
      {{ page.header_top }}
    </div>
    {% endif %}

  </section>
  {% endif %}

  {% if header_basic %}
  <div class="usa-nav-container">
  {% endif %}

  <div class="usa-navbar">
    <button class="usa-menu-btn">{{ 'Menu'|t }}</button>
    {{ page.header }}
  </div>

  <div class="navbar-border"></div>

  <div class="usa-nav" role="navigation">
    <div class="usa-nav-inner">

      <button class="usa-nav-close">
        <img src="{{ active_theme_path }}/assets/img/close.svg" alt="close" />
      </button>

      {% if page.mobile_menu %}
      <div class="usa-nav-mobile">
        {{ page.mobile_menu }}
      </div>
      {% endif %}

      {% if page.mobile_menu %}
      <div class="usa-nav-desktop">
      {% endif %}

      {% if page.primary_menu %}
      {{ page.primary_menu }}
      {% endif %}

      {% if page.secondary_menu %}
      {{ page.secondary_menu }}
      {% endif %}

      {% if page.mobile_menu %}
      </div>
      {% endif %}

    </div>
  </div>

  {% if header_basic %}
  </div>
  {% endif %}

</header>

{% if page.hero %}
<section>
{{ page.hero }}
</section>
{% endif %}

<section class="usa-section uswds-middle-section {{ main_classes }}">

  <div class="usa-width-full">
    {{ page.breadcrumb }}
  </div>

  <div class="back-to-top">
    <a href="#">Back to top</a>
  </div>

  <div class="usa-grid">

    {{ page.highlighted }}

    {% if page.help|render|trim %}
    <div class="usa-alert usa-alert-info">
      <div class="usa-alert-body">
        <p class="usa-alert-text">
          {{ page.help }}
        </p>
      </div>
    </div>
    {% endif %}

    {{ page.content.move_mil_local_tasks }}
    {{ page.content.move_mil_page_title }}
  </div>

  <div class="uswds-main-content-wrapper {% if edge_to_edge == false %}usa-grid{% endif %}">
    <a id="main-content" tabindex="-1"></a>


    {% if page.sidebar_first %}
      {{ page.sidebar_first }}
    {% endif %}

    <div class="region-content {{ content_class }}">
      {{ page.content|without('move_mil_page_title', 'move_mil_local_tasks') }}
    </div>

    {% if page.sidebar_second %}
    <aside class="region-sidebar-second usa-width-one-fourth">
      {{ page.sidebar_second }}
    </aside>
    {% endif %}

  </div>
</section>

<footer class="{{ footer_classes }}" role="contentinfo">

  {% if display_footer_primary %}
  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <nav class="usa-footer-nav {{ footer_menu_width }}">

        {% if page.footer_menu %}
        {{ page.footer_menu }}
        {% endif %}

      </nav>

      {% if footer_slim and (phone or email) %}
      <div class="usa-width-one-third">

        {% if phone %}
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <p><a href="tel:{{ phone }}">{{ phone }}</a></p>
        </div>
        {% endif %}

        {% if email %}
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <p><a href="mailto:{{ email }}">{{ email }}</a></p>
        </div>
        {% endif %}

      </div>
      {% endif %}

      {% if page.footer %}
      <div class="usa-grid">
        {{ page.footer }}
      </div>
      {% endif %}

    </div>
  </div>
  {% endif %}

  {% if display_footer_secondary %}
  <div class="usa-footer-secondary_section">

    {% if display_footer_agency %}
    <div class="usa-grid">
      <div class="usa-footer-logo {% if not footer_slim %}usa-width-one-half{% endif %}">

        {% if footer_agency_url %}
        <a href="{{ footer_agency_url }}">
        {% endif %}

          {% if footer_agency_logo == true %}
            <img class="{{ footer_agency_logo_class }}" src="{{ footer_agency_logo }}"  alt="{{ 'Home'|t }}" />
          {% elseif site_logo == false %}
            <img class="{{ footer_agency_logo_class }} usa-footer-big-logo-img" src="/themes/custom/move_mil/United_States_Department_of_Defense_Seal.svg"  alt="{{ 'United States Department of Defense logo'|t }}" />
          {% endif %}

        <div class="footer-agency--content">
          {% if footer_agency_name %}
          <h3 class="{{ footer_agency_heading_class }}">{{ footer_agency_name }}</br><span class="footer-agency-name--description usa-text-small">United States Transportation Command</span></h3>
          {% endif %}
        </div>

        {% if footer_agency_url %}
        </a>
        {% endif %}

      </div>

      {% if not footer_slim %}
      <div class="usa-footer-contact-links usa-width-one-half">
        <h3 class="usa-footer-contact-heading">Technical Help Desk</h3>
          <p class="usa-text-small">For help using Move.mil or <abbr title="Electronic Transportation Acquisition">ETA</abbr>.</p>

          <dl>
            <dt>Phone</dt>
            <dd class="usa-text-small">Toll-Free: <a href="tel:+18004622176">(800) 462-2176</a></dd>
            <dd class="usa-text-small">Commercial: <a href="tel:+16185899445">(618) 589-9445</a></dd>

            {% if email %}
            <dt>Email</dt>
            <a class="usa-text-small" href="mailto:{{ email }}">{{ email }}</a>
            {% endif %}

            <dt>Submit a ticket online</dt>
            <dd class="usa-text-small"><a href="https://src.service-now.com/src/">https://src.service-now.com/src/</a></dd>
          </dl>
        {% endif %}

    </div>
    {% endif %}

    {% if page.footer_secondary %}
    <div class="usa-grid">
      {{ page.footer_secondary }}
    </div>
    {% endif %}

  </div>
  {% endif %}

</footer>
